.root {
   // -fx-background: #555666;
}
.message-owner {
    -fx-text-fill: red;
}
.message-whisper {
    -fx-text-fill: green;
}
.message-system {
    -fx-text-fill: #666666;
}
.label-error {
    -fx-text-fill: #EE5454;
}