.root {
   // -fx-background: #555666;
}

.message {
    -fx-padding:10px;
    -fx-border-color: #ffffff #ffffff #999999 #ffffff;
}
.message:even {
  //-fx-background-color:#eeeeee
}
.message-owner {
    -fx-text-fill: red;
}
.message-whisper {
    -fx-text-fill: green;
}
.message-system {
    -fx-text-fill: #666666;
}
.label-error {
    -fx-text-fill: #EE5454;
}